
.container{
    max-width: 900px;
    height: 400px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom: 100px;
   

}
.btn{
    margin-top: 2px;
    align-items: center;
 
}
.sub-container{
    margin-top: 10px;
}
table{
    width: 100%;
}

.mat-column-right{
    text-align: center;
}
