<mat-list role="list" class="sidebar">
    <div class="container">
        <mat-card><span>All emails</span></mat-card>
    </div>
    <div class=icons>
        <mat-list-item role="listitem"><mat-icon  color="warn">star</mat-icon><span>Starred</span> </mat-list-item>
        <mat-list-item role="listitem"><mat-icon  color="warn">send</mat-icon><span>Sent</span></mat-list-item>
        <mat-list-item role="listitem"><mat-icon  color="warn">drafts</mat-icon> <span>Drafts</span></mat-list-item>
        <mat-list-item role="listitem"><mat-icon  color="warn">archive</mat-icon><span>Archive</span> </mat-list-item>
        <mat-list-item role="listitem" color="warn"><span class="material-icons">schedule</span><span>Schedule</span> </mat-list-item>
       

    </div>
    
  </mat-list>